
@{
    ViewBag.Title = "Evasi";
}

<h2 class="text-center text-danger">Ordini Giornalieri</h2>

<div class="text-danger text-center" id="elementi">

</div>



@section scripts{

    <script src="~/Scripts/JavaScript3.js"></script>
}
